h1 {
    color: lightgreen;
    text-align: center;
}

.grid{
    stroke: lightgray;
}

.line-chart{
    stroke: steelblue;
    fill:none;
}
svg {
    display:block;
    border:solid;
    margin-left: 55px;
}