line {
    stroke-width: 2px;
    stroke: gray;
}

circle {
    stroke: red;
    stroke-width: 2px;
    fill: none
}

rect {
  stroke: steelblue;
  stroke-width: 2px;
  fill: none;
}

polygon {
  fill:none;
  stroke:green;
  stroke-width:2px;
}

.container {
  border-style: groove;
  height: 150px;
  width: 600px;
}
