.title-container {
    float: left;
}

.titles {
    float: right;
}

.title {
    float: left;
    width: 30px;
}
/*----------------------------*/
.number-container {
    float: left;
}

.numbers {
    float: right;
}

.number {
    float: left;
    width: 30px;
}
/*----------------------------*/
.n-square-container {
    float: left;
}

.n-squares {
    float: right;
}

.n-square {
    float: left;
    width: 30px;
}


