line, circle, rect, polygon {
    stroke-width: 2px;
}

line {
    stroke: gray;
}

circle {
    stroke: red;
    fill: none;
}

rect {
    stroke: steelblue;
    fill: none;
}

polygon {
    fill: none;
    stroke: green;
}
