.bar {
    margin: 2px;
    height: 20px;
    text-align: center;
    padding-right: 5px;
    border-radius: 10px;
}

button {
    border-radius: 10px;
}

.legends {
    float: left;
}

.subjects {
    float: right;
}
.subject {
    width: 80px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    float: left;
}
