.line {
    stroke: darkred;
    stroke-width: 2px;
    fill: none;
}

.sinLine{
  stroke: darkblue;
  stroke-width: 2px;
  fill: none;
}

circle {
    stroke: blue;
    stroke-width: 1px;
    fill: white;
}
